{% extends "hydrocatalog/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content %}
<h4>Site Details for {{site_name}}</h4>
<p>Site Code: {{site_code}}</p>
<p>Service: {{service}}</p>
<div class="warning">
</div>
<div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>
{% if error_message != None %}
    <h1 style="color:red">{{error_message}}</h1>
    {% endif %}

<div class="flex-container-row"><img id="view-file-loading" class="view-file hidden" src="/static/hydrocatalog/images/loader.gif" /></div>
<a id="download-xml" class="btn btn-primary hidden" target="_blank" href="/apps/hydrocatalog/xml/" >Download XML</a>
{% if soap %}
<form id="soap_variable" action="/apps/hydrocatalog/soap-api/" method="POST">
    {% csrf_token %}

    {% gizmo select_input select_soap_variable %}
    {% gizmo date_picker start_date %}
    {% gizmo date_picker end_date %}

    <button id="generate-plot" class="btn btn-primary">Generate Graph</button>
    <div>
        <div class="chart-wrapper">
            <div class="chart-inner">

                <div id="plotter" style="height:275px;width:100%"></div>
            </div>
        </div>
    </div>
</form>

{% endif %}

<!--{% gizmo plot_view timeseries_plot %}-->
{% if hidenav %}

<script>
     $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    $(function(){
        $('#app-content-wrapper').removeClass('show-nav');
        $('.tethys-app-header').hide();
    });
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: '/apps/hydrocatalog/soap-var/',
            dataType: 'JSON',
            success: function (result) {
                $("#start_date").val(result.var_list[0].startDate);
                $("#end_date").val(result.var_list[0].endDate);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(Error);
            }
        });
    });
    $("#select_var").on('change', function () {
        var variable = $("#select_var option:selected").val();
        var selected_index = $("#select_var").prop('selectedIndex');
        $.ajax({
            type: "GET",
            url: '/apps/hydrocatalog/soap-var/',
            dataType: 'JSON',
            success: function (result) {
                $("#start_date").val(result.var_list[selected_index].startDate);
                $("#end_date").val(result.var_list[selected_index].endDate);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(Error);
            }
        });
    });
    $(document).on('change', $("#start_date"), function () {
        var date_val = $("#start_date").val();
        $("#start_date").val(date_val);
    });
    $(document).on('change', $("#end_date"), function () {
        var date_val = $("#end_date").val();
        $("#end_date").val(date_val);
    });
</script>
{% endif %}
{% endblock %}