{% extends "hydrocatalog/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content %}
<h4>Site Details for {{site_name}}</h4>
<p>Site Code: {{site_code}}</p>
<p>Service: {{service}}</p>
{% if error_message != None %}
<h1 style="color:red">{{error_message}}</h1>
{% endif %}
{% if nodata_message != None %}
<h1 style="color:red">{{nodata_message}}</h1>
{% endif %}
<script>
    $(function(){
        $('#app-content-wrapper').removeClass('show-nav');
        $('.tethys-app-header').hide();
    });
</script>

{% endblock %}