{% extends "hydrocatalog/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}
{% block app_content %}
<div id="map"></div>
<div id="popup" class="popup"></div>
<div id="zoomlevel"></div>
{% endblock %}

{% block app_content_wrapper_override %}
{{ block.super }}
<!--Interface Modal--->
<div id="modalInterface" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>HydroCatalog Settings Interface</h1>
            </div>
            <div class="modal-body">
                <h2>Instructions</h2>
                <h4>Adding A Server to the Catalog</h4>
                <p>The Add SOAP URL will show an interface for adding a valid HydroServer SOAP URL</p>
                <input type="button" id="load-from-soap" class="btn btn-primary" data-toggle="modal" data-target="#modalAddSoap" Value="Add SOAP URL">
                <br>
                <br>
                <h4>Updating the Catalog</h4>
                <p>Use the Update HS Catalog to delete any servers in the catalog. Once deleted these layers will not show up on load</p>
                <input type="button" id="delete-server" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" Value="Update HS Catalog">
                <div class="success"></div>
            </div>

        </div>
        <!--End modal content-->
    </div>
</div>

<!---Soap Modal -->
<form id="modalAddSoap" class="modal fade"  action="soap/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add WaterOneFlow Service Info</h4>
            </div>
            <div class="modal-body">
                <br>
                <label for="soap-title">Title (Required):</label>
                <input type="text" class="form-control" name="soap-title" id="soap-title" placeholder="Please enter a valid HydroServer Title">

                <label for="soap-url">URL (Required):</label>
                <input type="text" class="form-control" name="soap-url" id="soap-url" placeholder="Please enter a valid HydroServer SOAP Endpoint">
                <div class="checkbox">
                    <label><input type="checkbox" name="extent" id="extent">Get Values for the Zoomed Area</label>
                </div>
                <button type="button" id="select-his" class="btn btn-primary" data-toggle="modal" data-target="#modalHISCentral">Select HIS Central Server</button>
                <div id="chk_val" name="chk_val"></div>
                <div class="warning">
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-soap" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>
<!--End modal-->

<!-- HIS Central Modal -->
<form id="modalHISCentral" class="modal fade" role="dialog" action="his-server/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">HIS Central Servers</h4>

            </div>
            <div class="modal-body">
                {% gizmo select_input select_his_server %}
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="add-from-his" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>

        <!--End modal content-->
    </div>
</form>

<!-- Update Catalog Modal -->
<form id="modalDelete" class="modal fade" role="dialog" action="delete/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add WaterOneFlow Service Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-del-server" class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>

<!-- View Details Modal -->
<div id="modalViewDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <span class="close-modal" id="close-modalViewDetails">X</span>
        <div class="modal-content flex-container-row">
            <img id="view-file-loading" class="view-file" src="/static/hydrocatalog/images/loader.gif" />
            <div id="iframe-container" class="view-details hidden" ></div>
        </div>
        <!--End modal content-->
    </div>
</div>
<!--End modal-->

{% endblock %}
{% block scripts %}
{{ block.super }}
{% endblock %}